<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header class="navbar">
  <div class="container nav-content">
    <h1>Create Event</h1>
  </div>
</header>

<main class="container">

<div class="card form-card">
  <h2>Create New Event</h2>

  <form>

    <label>Event Title</label>
    <input type="text" required>

    <label>Location</label>
    <input type="text" required>

    <label>Date & Time</label>
    <input type="datetime-local" required>

    <label>Tags</label>
    <input type="text">

    <label>Description</label>
    <textarea rows="5"></textarea>

    <div class="form-actions">
      <button class="primary-btn">Create Event</button>
      <a href="list.html" class="secondary-btn">Cancel</a>
    </div>

  </form>

</div>

</main>
</body>
</html>