<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Events</title>
  <link rel="stylesheet" href="/static/styles.csss">
</head>
<body>

<header class="navbar">
  <div class="container nav-content">
    <h1>Search Events</h1>
  </div>
</header>

<main class="container">

<div class="card">
  <h2>Search</h2>

  <form class="grid-3">
    <input type="text" placeholder="Keyword">
    <input type="text" placeholder="Location">
    <input type="text" placeholder="Tag">
    <button class="primary-btn">Search</button>
  </form>
</div>

</main>
</body>
</html>